<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/css/index.css">    
    
</head>
<body>
    <%- include('../partials/header');%>
    <div id="userLogged">
    
    </div>
    <main>
        <%- include('../partials/productDetail.ejs') %>
        <div>
            <ul id="camisetas"></ul>
        </div>
        <div id="pantalones">
            <ul id="pantalones"></ul>
        </div>

    </main>

<footer >
    <%- include('../partials/footer') %> 
</footer>
    
</body>
</html>